@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css');
@import url('https://fonts.googleapis.com/css?family=Roboto');

.header {
  padding: 60px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 30px;
  border-radius: 30px;
}

.right_text  {
  float: right;
  margin-top: -21px;
}

.left_head {
  float: left;
  margin: -30px;
  text-align: left;
}

.left_column {
  float: left;
  width: 75%;
}

.right_column {
  float: right;
  width: 25%;
  padding-left: 20px;
}

.window {
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 20px;
  margin-top: 20px;
  border-radius: 30px;
}

.login-btn {
  line-height: 33px;
  background: transparent;
  border: 0;
  padding: 0 5px;
  color: #fff;
  font-size: 12px;
  cursor: pointer;
  margin: 0;
  outline: 0;
}

.button {
  border: none;
  outline: none;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  font-size: 16px;
  font-family: Roboto, Verdana, Tahoma, sans;
  padding: 12px 16px;
  border-radius: 100px;
  color: #fff;
}
.button i {
  margin-right: 4px;
}
.button + .button {
  margin-left: 6px;
}
.button.blue {
  background: #2196F3;
  margin-right: 25px;
}
.button.red {
  background: #f50000;
  margin-right: 25px;
}
.button.green {
  background: #06f809;
  margin-right: 25px;
}
.button.purple {
  background: #9b59b6;
}

.button:hover {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
.button:hover.blue {
  background: #39a1f4;
}
.button:hover.purple {
  background: #a66bbe;
}
.button:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
.button:active.blue {
  background: #0d8aee;
}
.button:active.purple {
  background: #8f4bab;
}

.logRegArea {
  width: 45%;
  padding: 0 20px;
  margin-bottom: 10px;
  background: #E9EFF6;
  line-height: 40px;
  border-width: 0;
  border-radius: 20px;
  font-family: 'Roboto', sans-serif;
}

* {
  box-sizing: border-box;
}

.decor {
  position: relative;
  max-width: 400px;
  border-radius: 30px;
}

.form-inner input, .form-inner textarea {
  display: block;
  width: 100%;
  padding: 0 20px;
  margin-bottom: 10px;
  background: #E9EFF6;
  line-height: 40px;
  border-width: 0;
  border-radius: 20px;
  font-family: 'Roboto', sans-serif;
}

.form-inner input[type="button"] {
  margin-top: 30px;
  background: #f69a73;
  border-bottom: 4px solid #d87d56;
  color: white;
  font-size: 14px;
}

.form-inner textarea {
  resize: none;
}

.form-inner h3 {
  margin-top: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 24px;

}